@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;1,200;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;1,200;1,300&display=swap');

:root {
    --primary-color: #ffffff;
    --title-family: 'Montserrat', sans-serif;
    --p-family: 'Poppins', sans-serif;
    --grey-light: #51585f;
    --grey-medium: #3c434a;
    --grey-dark: #293036;
    --orange-light: #f3bf9c;
    --orange-dark: #ffb888;
}

body {
    background: var(--grey-dark) !important;
    color: var(--primary-color) !important;
}

.navbar ul {
    column-gap: 20px;
}

body h1 {
    font-family: var(--title-family) !important;
    font-weight: 900;
}

body h2 {
    font-family: var(--p-family);
}

body h3 {
    font-family: var(--p-family);
}

.line-1 {
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
    width: 100%;
    margin-top: revert;
}

/* Animation */
.anim-typewriter {
    animation: typewriter 4s steps(44) 1s 1 normal both,
        blinkTextCursor 500ms steps(44) infinite normal;
}

@keyframes typewriter {
    from {
        width: 0;
    }

    to {
        width: 24em;
    }
}

@keyframes blinkTextCursor {
    from {
        border-right-color: rgba(255, 255, 255, .75);
    }

    to {
        border-right-color: transparent;
    }
}


header nav ul li a {
    color: var(--primary-color) !important;
}

#principal {
    padding: 50px 30px;
    background: var(--grey-medium);
}

#principal img {
    max-width: 70%;
    max-height: 70%;
}

#principal button {
    border-radius: 20px;
    border: 2px solid var(--orange-dark);
    width: 200px;
    padding: 5px;
    color: var(--orange-dark);
    background: var(--grey-dark);
    margin: 20px 10px;
}

#principal button:hover {
    background: var(--orange-dark);
    color: var(--grey-dark);
}

.img-programmer {
    display: flex;
    justify-content: center;
}

#aboutMe {
    width: 100%;
    position: relative;
    padding: 50px 30px;
}

.title {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

#aboutMe .developer {
    display: flex;
    align-items: center;
}

#aboutMe .developer img {
    max-width: 100%;
}

#skills {
    background: var(--grey-medium);
    padding: 50px 30px;
}

#skills .skills-img {
    max-width: 120px;
    padding: 20px;
    border: 2px solid var(--grey-dark);
    border-radius: 15px;
    background: var(--grey-dark);
}

#skills .skills-img img {
    width: 100%;
}

#skills .row {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 50px ;
}

#education {
    padding: 50px 30px;
}

#education .row {
    justify-content: space-evenly;
}

#education .study {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#education .study img {
    max-width: 200px;
    /* max-height: 200px; */
    border-radius: 20px;
}

#education .study h3 {  
    padding: 25px 0 10px;
    font-size: 18px;
}

#education .study h4 {  
    font-size: 15px;
}

#proyects {
    padding: 50px 30px;
    background: var(--grey-medium);
}

.carousel-item.active {
    display: flex !important;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.carousel-caption {
    padding-bottom: -20px !important;
}

.carousel-item h5 {
    padding: 10px;
    font-style: italic;
}

footer {
    padding: 20px 30px;
    height: 50px;
}

#footer {
    background: var(--grey-dark);
    display: flex;
    flex-direction: row;
    height: 100%;
}

#footer .redes {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#footer .redes img {
    max-width: 30px;
    margin: 10px;
}

#footer h5 {
    font-size: 12px;
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

#footer h2 {
    color: var(--orange-dark);
    font-style: italic;
}